.App {
  text-align: center;
  background-color: cadetblue;
  padding: 50px;
  min-height: 100vh;
}

.title {
  margin-bottom: 70px;
  h1 {
    position: relative;
    margin: 0;
    &::after {
      content: '';
      width: 100px;
      height: 3px;
      background-color: #436f70;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
    }
  }
}

form {
  margin-bottom: 50px;
  input, button {

    padding: 12px 15px;
    border-radius: 3px;
    font-size: 16px;
    &:focus {
      
      outline: none;
    }
    

  }
  input {
    background-color: white;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid transparent;
    }
    &.error {
      border: 2px solid red;
    }
  }
  button {
    background-color: #304f50;
    border: 2px solid #304f50;
    color: white;
    margin-left: 15px;
    min-width: 100px;
    cursor: pointer;
    &:hover, &:focus {
      background-color: #436f70;
      border: 2px solid #436f70;
    }
  }
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  .color-item {
    width: 100px;
    height: 80px;
    padding: 30px 15px;
    text-align: left;
    p {
      margin: 0;
      &.hex {
        margin-top: 5px;
      }
      &.alert {
        background-color:lightpink;
        border-radius: 3px;
        color: white;
        font-size: 12px;
        margin-top: 10px;
        padding: 3px 10px;
      }
    }
    &.color-light {
      color: white;
    }
  }
  
}